{% extends 'itshop/base.html' %} {% block content %} {% load cart %} <br />
{% load custom_filter %}
<!-- body -->
<div class="container-fluid mt-3">
  <div class="row">
    <!-- filter -->

    <div class="col-lg-3 mx-auto">
      <div class="list-group">
        <a
          href="/"
          class="list-group-item list-group-item-action btn btn-outline-success"
          >All Products</a
        >

        {% for category in cats %}
        <a
          href="/?category={{category.id}}"
          class="list-group-item list-group-item-action btn btn-outline-success"
          >{{category.name}}</a
        >
        {% endfor %}
      </div>
    </div>

    <!-- all products -->
    <div id="products" class="col-lg-9 mx-auto">
      <div class="row">
        <div class="row mx-auto">
          {% for product in products %}
          <div
            class="card mx-auto mb-3"
            id="{{product.id}}"
            style="width: 18rem"
          >
            <img
              class="card-img-top"
              src="{{product.image.url}}"
              alt="Card image cap"
            />
            <div class="card-body">
              <p class="card-title">{{product.name}}</p>
              <p class="card-text"><b>{{product.sell_price|currency}}</b></p>
            </div>
            <div class="card-footer">
              <div class="row">
                <form action="/#{{product.id}}" method="post">
                  {% csrf_token %}
                  <input
                    hidden
                    type="text"
                    name="product"
                    value="{{product.id}}"
                  />
                  <input
                    type="submit"
                    value="Add to Cart"
                    class="btn btn-block btn-success"
                  />
                </form>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
