<nav
  class="navbar navbar-expand-lg"
  style="background-color: hsl(269, 84%, 47%)"
>
  <div class="container-fluid">
    <a class="navbar-brand text-light" href="/"><strong>ITSHOP</strong></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-light active" aria-current="page" href="/"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="/store">Store</a>
        </li>
      </ul>
      <ul class="navbar-nav my-2 my-lg-0">
        <li class="nav-item active">
          <a class="nav-link text-light" href="/cart"
            >Cart
            <span class="badge bg-primary"
              >{{request.session.cart.keys|length}}</span
            >
            <span class="sr-only">(current)</span>
          </a>
        </li>
        {% if request.session.customer %}

        <li class="nav-item active">
          <a class="nav-link" href="/orders"
            >Orders<span class="sr-only">(current)</span></a
          >
        </li>

        <li class="nav-item active">
          <a class="nav-link" href="/logout"
            >Logout<span class="sr-only">(current)</span></a
          >
        </li>

        {% else %}

        <li class="nav-item active">
          <a class="nav-link" href="/signup"
            >Signup<span class="sr-only">(current)</span></a
          >
        </li>

        <li class="nav-item active">
          <a class="nav-link" href="/login"
            >Login<span class="sr-only">(current)</span></a
          >
        </li>

        {% endif %}
      </ul>
    </div>
  </div>
</nav>
